.cont {
    overflow-y: scroll;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
    margin-top: 1%;
    border: 1px solid grey;
    
  }

  #main_cont{
    margin: 7%;
    border: 1px solid grey;
}

#rowinside{
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 1%;
  padding-right: 4%;
  margin-top: 2%;
}